body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  color: #5a5a5a;
  background: #849d8f;
}

h2 {
  font-size: 35px;
  line-height: 39px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  text-align: center;
}

.underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.underline:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.underline-black {
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.underline-black:hover {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.btn {
  display: inline-block;
  padding: 11px 23px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
  margin-bottom: 29px;
  box-sizing: border-box;
}

/*------------- Header ------------*/
.main-header {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  margin-bottom: 0;
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 560px;
  z-index: 2;
}

.main-nav-top {
  display: flex;
}

.logo {
  display: block;
  margin-top: 9px;
  margin-left: -1px;
  margin-right: 13px;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  box-sizing: border-box;
  margin-top: 10px;
}

.nav-list .active > a {
  background: #d07058;
  color: #ffffff;
}

.nav-list .active > a .underline {
  border-bottom: none;
}

.nav-list-item {
  position: relative;
  padding-bottom: 10px;
}

.nav-list-item > a {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding: 8px 12px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 17px;
}

.nav-list-item:not(:last-child) a {
  margin-right: 4px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.nav-list-item:hover > a {
  background: #f8f7f4;
  color: #333333;
}

.nav-list-item:hover > a .underline {
  color: #333333;
  border-bottom: none;
}

.nav-list-item > a:active {
  box-shadow: inset 0px 2px 1px 0px #696969;
  background: #ededed;
}

.nav-list-item > a:active  .underline {
  border-bottom: none;
}

.nav-list-item:hover .inner-list {
  display: block;
}

.inner-list {
  display: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  position: absolute;
  width: 143px;
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  top: 38px;
  left: -8px;
  overflow: hidden;
}
.inner-list-item {
  padding: 0 10px
}

.inner-list-item > a {
  display: block;
  color: #333333;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 14px;
  line-height: 15px;
}

.inner-list .active {
  background: #d07058;
}

.inner-list-item:hover {
  background: #fbded7;
}

.inner-list-item:active {
  background: #f6b5a5;
}


.inner-list-item:first-child > a{
  padding-top: 10px;
  padding-bottom: 13px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.inner-list-item:nth-child(2) > a {
  padding-top: 12px;
}

.inner-list-item:last-child > a {
  padding-bottom: 15px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.breadcrumbs-item a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}


.breadcrumbs-item:not(:last-child)::after {
  content: "»";
  margin-left: 7px;
  margin-right: 7px;
  color: #fff;
}

.user-block {
  display: flex;
  flex-direction: column;
  width: 267px;
  align-items: flex-end;
  margin-top: 23px;
  z-index: 3;
}

.user-block .top-wrapper {
  display: flex;
/*  width: 100%;*/
  justify-content: flex-end;
  margin-bottom: 7px;
}

.user-block a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 23px;
  font-weight: 500px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  position: relative;
}

.user-block a {
  margin-left: 10px;
}

.user-block .search a {
  margin-left: 0;
  display: block;
  width: 17px;
  height: 17px;
  padding: 7px;
  font-size: 0;
  background: rgba(255, 255, 255, 0.2) url("../img/search.png") center no-repeat;
  border-radius: 15px;
}

.user-block .search:hover a {
  background: #f8f7f4 url("../img/search-active.png") center no-repeat;
}

.user-block .search {
  position: relative;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.user-block .search:hover form {
  display: block;
}

.user-block .search form {
  display: none;
  width: 341px;
  position: absolute;
  top: 35px;
  left: -309px;
  padding: 21px 16px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  box-sizing: border-box;
}

.user-block .search input[type="text"] {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  padding: 8px 14px;
  border: 1px solid #999999;
  border-radius: 5px;
  box-sizing: border-box;
}

.user-block .login > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 44px;
  padding-right: 15px;
  width: 92px;
  box-sizing: border-box;
  font-weight: 500;
}

.user-block .login {
  position: relative;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.user-block .login:hover form {
  display: block;
}

.user-block .login form {
  display: none;
  width: 277px;
  position: absolute;
  top: 35px;
  left: -173px;
  padding: 21px 18px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  box-sizing: border-box;
}

.user-block .login input[type="email"], 
.user-block .login input[type="password"] {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  padding: 9px 14px;
  border: 1px solid #999999;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.user-block .login .btn {
  /*display: block;*/
  padding: 10px 23px;
}

.user-block .login > a::before {
  content: "";
  position: absolute;
  background: url("../img/login.png") center no-repeat;
  width: 21px;
  height: 19px;
  left: 16px;
  top: 6px;
}

.user-block .login:hover > a {
  background-color: #f8f7f4;
  color: #323232;
}
.user-block .login:hover > a::before {
  background: url("../img/login-active.png") center no-repeat;
}

.user-block .login .wrapper {
  display: inline-block;
  margin: 0;
}

.user-block .login .wrapper a {
  font-size: 13px;
  line-height: 21px;
  color: #323232;
  margin-left: 16px;
}

.user-block .cart > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 44px;
  padding-right: 34px;
  width: 117px;
  box-sizing: border-box;
  font-weight: 500;
}

.user-block .cart > a::before {
  content: "";
  position: absolute;
  background: url("../img/cart.png") center no-repeat;
  width: 21px;
  height: 20px;
  left: 16px;
  top: 6px;
}

.user-block .phone-wrapper {
  margin: 0;
  padding: 0;
  text-align: right;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.phone-wrapper .phone {
  margin-top: 5px;
  font-size: 22px;
  line-height: 24px;
}

/*------------- Slider ------------*/
.slider {
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.slider-control-btn {
  display: none;
}

.slide {
  display: none;
  position: absolute;
  top: -647px;
  left: 0;
  right: 0;
}

#slide1 {
  width: 1045px;
  height: 881px;
  margin: 0 auto;
}

.slide-image {
  display: block;
  margin: 0 auto;
}

.slide .wrapper {
  position: absolute;
  top: 392px;
  left: 0;
  right: 0;
}

.slide-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
}

.slide-btn {
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
}

.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 28px;
  z-index: 1;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 9px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#slider-control-btn-1:checked ~ #slide1,
#slider-control-btn-2:checked ~ #slide2,
#slider-control-btn-3:checked ~ #slide3 {
  display: block;
}

#slider-control-btn-1:checked ~ .slider-controls label[for="slider-control-btn-1"],
#slider-control-btn-2:checked ~ .slider-controls label[for="slider-control-btn-2"],
#slider-control-btn-3:checked ~ .slider-controls label[for="slider-control-btn-3"] {
  background: #ffffff;
}

#slider-control-btn-1:checked ~ body {
  background-color: #849d8f;
}

#slider-control-btn-2:checked ~ body {
  background-color: #8996a6;
}

#slider-control-btn-3:checked ~ body {
  background-color: #9d8b84;
}

/*------------- Banners ------------*/
.banners {
  display: flex;
  justify-content: space-between;
  margin-top: 527px;
}

.banners-item {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding: 15px 20px 24px 19px;
  box-sizing: border-box;
  z-index: 4;
  border-radius: 12px;
  overflow: hidden;
}

.banners-item p {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 45px;
}

.banners-item .btn {
  align-self: flex-end;
}

.banners-item-raspberry {
  background: #820d21 url("../img/raspberry-bg.jpg") center no-repeat;
}

.banners-item-chocolate {
  background: #820d21 url("../img/chocolate-bg.jpg") center no-repeat;
}

.hits {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: -2px;
  padding: 0 14px;
  box-sizing: border-box;
}

.product {
  width: 293px;
  position: relative;
  padding: 5px 13px;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  padding-bottom: 80px;
  margin-bottom: -47px;
}

.product:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.product:hover .underline {
  border-bottom: none;
}

.product:hover > .product-view-btn {
  display: block;
}

.product-wrapper {
  position: relative;
}

.product-image {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  position: absolute;
  bottom: 22px;
  left: 0;
}

.product-price:after {
  content: "/ кг";
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}


.product-name .underline:hover {
  color: #ffffff;
}

.product-view-btn {
  display: none;
  width: 194px;
  position: absolute;
  bottom: 27px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 5px;
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #eee3cc url(../img/waffle-pattern.jpg) center repeat;
  color: #323232;
  padding: 25px 20px 4px; 
  border-radius: 14px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.features-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 23px;
  letter-spacing: 0.2px;
}

.features-item {
  width: 540px;
  position: relative;
  box-sizing: border-box;
  padding-left: 55px;
}

.features-item:nth-child(2n) {
  margin-bottom: 22px;
}

.features-item-ice_cream::before,
.features-item-cow::before,
.features-item-leaf::before,
.features-item-thermometer::before {
  content: "";
  display: block;
  position: absolute;
  width: 49px;
  height: 49px;
  top: -14px;
  left: 0;
}

.features-item-ice_cream::before {
  background-image: url("../img/ice-cream-icon.png");
}

.features-item-cow::before {
  background-image: url("../img/cow-icon.png");
}
.features-item-leaf::before {
  background-image: url("../img/leaf-icon.png");
}
.features-item-thermometer::before {
  background-image: url("../img/thermometer-icon.png");
}

.blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-post {
  width: 560px;
  height: 220px;
  padding: 25px 20px;
  box-sizing: border-box;
  background: #ffffff url("../img/strawberry-bg.jpg") center no-repeat;
  color: #323232;
  border-radius: 15px;
}

.blog-news {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.blog-post-header {
  width: 285px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.blog-post-header a {
  color: #000;
}

.blog-post-header a:hover {
  color: #e84d37;
}


.subscribe {
  width: 560px;
  background: #f8f7f4 url(../img/post-pattern.png) center repeat;
  border-radius: 14px;
  padding: 6px;
  box-sizing: border-box;
}

.subscribe-wrapper {
  background: #f8f7f4;
  height: 208px;
  border-radius: 13px;
  padding: 34px 15px;
  color: #5a5a5a;
  box-sizing: border-box;
}

.subscribe-text {
  margin-bottom: 40px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.subscribe-email-field {
  width: 368px;
  padding: 13px;
  box-sizing: border-box;
  margin-right: 10px;
  color: #999;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.map {
  position: relative;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

.map::before {
  content: "";
  display: block;
  width: 218px;
  height: 142px;
  background-image: url("../img/pin.png");
  position: absolute;
  top: 139px;
  left: 267px;
  z-index: 6;
}

.map-contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 63px 27px 63px 0;
  padding: 28px 24px;
  border-radius: 13px;
  box-sizing: border-box;
}

.map-contacts-address-title,
.map-contacts-phone-title,
.map-contacts-time {
  font-size: 14px;
  line-height: 20px;
}

.map-contacts-address-title {
  width: 150px;
  margin-bottom: 2px;
}

.map-contacts-phone-title {
  margin-bottom: 5px;
}

.map-contacts-address,
.map-contacts-phone  {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.map-contacts-address {
  margin-bottom: 18px;
}


.feedback-btn {
  display: block;
  margin-top: 22px;
}

.main-footer > .wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 103px;
  margin-bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.socials {
  display: flex;
  width: 267px;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-btn {
  display: block;
  font-size: 0;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.socials-btn-tw {
  background: url("../img/twitter.png") center no-repeat;
}

.socials-btn-inst {
  background: url("../img/instagram.png") center no-repeat;
}

.socials-btn-fb {
  background: url("../img/facebook.png") center no-repeat;
}

.socials-btn-vk {
  background: url("../img/vk.png") center no-repeat;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 560px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.info > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-left {
  margin-right: 34px;
}

.info-right {
  margin-left: -5px;
}

.info-item {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  margin-bottom: 10px;
}

.info-item-liked::before {
  content: "";
  display: block;
  width: 15px;
  height: 13px;
  background: url("../img/like.png") center no-repeat;
  position: absolute;
  top: 3px;
  left: -22px;
}

.copyright {
  width: 267px;
  padding-left: 77px;
  box-sizing: border-box;
  margin-top: 18px;
}

.copyright-text {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.copyright-text a {
  color: #fefefe;
  text-decoration: underline;
}

.copyright-text a:hover {
  color: #ffbc9e;
}

/* index end */

.catalog-header {
  margin-bottom: 50px;
}


.filters {
  margin-bottom: 3px;
}

.filters-list {
  display: flex;
  width: 860px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.filters-list fieldset {
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 18px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
  margin-bottom: 35px;
  padding: 5px 10px;
}

.filters-list-item-sort fieldset:hover {
  background: #fff;
}

.filters-list legend {
  position: absolute;
  top: -25px;
  left: 15px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-list-item-sort {
  width: 193px;
}

.filters-list-item-sort select {
  width: 100%;
  border-color: transparent;
  background: transparent;
  color: #fff;
}

.filters-list-item-sort select:hover {
  color: #323232;
}

.filters-list-item-price {
  width: 218px;
}

.filters-list-item-fatness {
  width: 416px;
}

.filters-list input[type="radio"] {
  display: none;
}

.filters-list input[type="radio"] + label {
  position: relative;
  margin-left: 25px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.filters-list input[type="radio"] + label::before {
  display: block;
  content: "";
  width: 21px;
  height: 22px;
  background: url("../img/radio.png") center no-repeat;
  position: absolute;
  top: -2px;
  left: -25px;
}

.filters-list input[type="radio"]:checked + label::before {
  background: url("../img/radio-checked.png") center no-repeat;
}

.filters-list-item-fillers {
  width: 703px;
}

.filters-list-item-fillers input[type="checkbox"] {
  display: none;
}

.filters-list-item-fillers input[type="checkbox"] + label {
  position: relative;
  margin-left: 25px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.filters-list input[type="checkbox"] + label::before {
  display: block;
  content: "";
  width: 21px;
  height: 22px;
  background: url("../img/checkbox.png") center no-repeat;
  position: absolute;
  top: -2px;
  left: -25px;
}

.filters-list input[type="checkbox"]:checked + label::before {
  background: url("../img/checkbox-checked.png") center no-repeat;
}

.filters-btn {
  border-radius: 18px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 8px 30px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.filters-btn:hover {
  background: #fff;
  color: #323232;
}

.filters-btn:active {
  background: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #686868;
  color: #323232;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0 14px;
  box-sizing: border-box;
  margin-bottom: 47px;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0 19px;
}

.pagination-item a {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.pagination-item:not(:last-child):not(:first-child) {
  margin: 0 2px;
}
/*.pagination-item:not(:last-child):not(:first-child):hover a {*/
.pagination-item:hover a {
  background: rgba(255, 255, 255, 0.2);
}

.pagination-item-prev a {
  display: block;
  background: url("../img/prev.png") center no-repeat;
  font-size: 0;
}

.pagination-item-next a {
  display: block;
  background: url("../img/next.png") center no-repeat;
  font-size: 0;
}


.pagination-item-current a,
.pagination-item-current:hover a {
  background: #fff;
  color: #323232;
}
