body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  color: #ffffff;
  background: #849d8f;
}

h2 {
  font-size: 60px;
  line-height: 60px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

h3 {
  font-size: 35px;
  line-height: 41px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  border-radius: 22px;
  background-image: linear-gradient(0deg, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.btn-large {
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 32px;
  padding: 10px 40px;
}

.container {
  margin: 0 auto;
  min-width: 900px;
  width: 1200px;
  padding: 0 27px;
  /*background: black;*/
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
}

.main-nav {
  display: flex;
  width: 560px;
}

.user-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 267px;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  display: inline-block;
}

.main-products {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: -120px;
}

.main-products-item {
  width: 100%;
  display: none;
}

.main-products-item-active {
  display: block;
}

.main-products-item-image {
  display: block;
  margin: 0 auto;
  margin-bottom: -490px;
}

.main-products-item-name {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.banners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.banners-item {
  width: 560px;
  position: relative;
}

.banners-item-image {
  border-radius: 15px;
}

.banners-item-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.banners-item-title {
  margin: 0;
  margin-bottom: 25px;
}

.banners-item-desc {
  margin: 0;
}

.banners-item-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.popular-products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.popular-products-item {
  width: 267px;
}

.popular-products-item-wrapper {
  display: block;
  width: 267px;
  height: 267px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px;
}

.popular-products-image {
  border-radius: 50%;
}

.hit::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.png);
  z-index: 1;
}

.popular-products-price {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  bottom: 0;
  left: 0;
}

.popular-products-price::after {
  content: "/кг";
  font-size: 30px;
}

.popular-products-title {
  display: inline-block;
  text-align: center;
  font-weight: 500;
}

.features {
  display: flex;
  flex-wrap: wrap;
  background: #eee3cc url(../img/waffle-pattern.jpg) center repeat;
  color: #323232;
  padding: 27px 20px;
  border-radius: 14px;
  margin-bottom: 40px;
}

.features-header {
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.features-item {
  display: flex;
  justify-content: space-between;
  width: 540px;
}

.features-item-desc {
  margin: 0;
  padding: 10px;
}

.blog {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  width: 560px;
  height: 220px;
}

.blog-item-wrapper {
  position: relative;
  padding: 24px 20px;
  color: #323232;
  font-weight: 500;
  width: 290px;
}

.blog-item-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 14px;
}

.blog-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 5px;
}

.subscribe {
  width: 560px;
  background: #f8f7f4 url(../img/post-pattern.png) center repeat;
  border-radius: 14px;
  padding: 6px;
  box-sizing: border-box;
}

.subscribe-wrapper {
  background: #f8f7f4;
  height: 208px;
  border-radius: 13px;
  padding: 34px 15px;
  color: #5a5a5a;
  box-sizing: border-box;
}

.subscribe-text {
  margin-bottom: 40px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.subscribe-email-field {
  width: 368px;
  padding: 13px;
  box-sizing: border-box;
  margin-right: 10px;
  color: #999;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.subscribe-btn {
  border: none;
}
